In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [20]:
spark

# Read the dataset

In [6]:
dfspark=spark.read.option('header','true').csv('income.csv')

In [7]:
dfspark.show()

+--------+---+---------+
|    Name|Age|Income($)|
+--------+---+---------+
|     Rob| 27|    70000|
| Michael| 29|    90000|
|   Mohan| 29|    61000|
|  Ismail| 28|    60000|
|    Kory| 42|   150000|
|  Gautam| 39|   155000|
|   David| 41|   160000|
|  Andrea| 38|   162000|
|    Brad| 36|   156000|
|Angelina| 35|   130000|
|  Donald| 37|   137000|
|     Tom| 26|    45000|
|  Arnold| 27|    48000|
|   Jared| 28|    51000|
|   Stark| 29|    49500|
|  Ranbir| 32|    53000|
|  Dipika| 40|    65000|
|Priyanka| 41|    63000|
|    Nick| 43|    64000|
|    Alia| 39|    80000|
+--------+---+---------+
only showing top 20 rows

In [10]:
dfspark.printSchema() # by default, consider the data types as string. 'inferSchema'

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Income($): string (nullable = true)

In [24]:
dfspark=spark.read.option('header','true').csv('income.csv',inferSchema=True)

In [9]:
dfspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Income($): integer (nullable = true)

In [10]:
df_pyspark1=spark.read.csv('income.csv',header=True, inferSchema=True)

In [11]:
df_pyspark1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Income($): integer (nullable = true)

# Selecting columns

In [14]:
dfspark.show()

+--------+---+---------+
|    Name|Age|Income($)|
+--------+---+---------+
|     Rob| 27|    70000|
| Michael| 29|    90000|
|   Mohan| 29|    61000|
|  Ismail| 28|    60000|
|    Kory| 42|   150000|
|  Gautam| 39|   155000|
|   David| 41|   160000|
|  Andrea| 38|   162000|
|    Brad| 36|   156000|
|Angelina| 35|   130000|
|  Donald| 37|   137000|
|     Tom| 26|    45000|
|  Arnold| 27|    48000|
|   Jared| 28|    51000|
|   Stark| 29|    49500|
|  Ranbir| 32|    53000|
|  Dipika| 40|    65000|
|Priyanka| 41|    63000|
|    Nick| 43|    64000|
|    Alia| 39|    80000|
+--------+---+---------+
only showing top 20 rows

In [15]:
dfspark.select('Name').show()

+--------+
|    Name|
+--------+
|     Rob|
| Michael|
|   Mohan|
|  Ismail|
|    Kory|
|  Gautam|
|   David|
|  Andrea|
|    Brad|
|Angelina|
|  Donald|
|     Tom|
|  Arnold|
|   Jared|
|   Stark|
|  Ranbir|
|  Dipika|
|Priyanka|
|    Nick|
|    Alia|
+--------+
only showing top 20 rows

In [16]:
dfspark.select(['Name','Age']).show()

+--------+---+
|    Name|Age|
+--------+---+
|     Rob| 27|
| Michael| 29|
|   Mohan| 29|
|  Ismail| 28|
|    Kory| 42|
|  Gautam| 39|
|   David| 41|
|  Andrea| 38|
|    Brad| 36|
|Angelina| 35|
|  Donald| 37|
|     Tom| 26|
|  Arnold| 27|
|   Jared| 28|
|   Stark| 29|
|  Ranbir| 32|
|  Dipika| 40|
|Priyanka| 41|
|    Nick| 43|
|    Alia| 39|
+--------+---+
only showing top 20 rows

In [19]:
dfspark['Name'] # retriving the column name

Column<'Name'>

In [20]:
dfspark.dtypes # checking datatype

[('Name', 'string'), ('Age', 'int'), ('Income($)', 'int')]

In [21]:
dfspark.describe()

DataFrame[summary: string, Name: string, Age: string, Income($): string]

In [22]:
dfspark.describe().show()

+-------+-----+-----------------+-----------------+
|summary| Name|              Age|        Income($)|
+-------+-----+-----------------+-----------------+
|  count|   22|               22|               22|
|   mean| null|34.81818181818182|90431.81818181818|
| stddev| null|5.901060143949628|43505.96441172106|
|    min|Abdul|               26|            45000|
|    max|  Tom|               43|           162000|
+-------+-----+-----------------+-----------------+

# Adding columns

In [28]:
dfspark=dfspark.withColumn('Age after 2 years',dfspark['Age']+2)

In [29]:
dfspark

DataFrame[Name: string, Age: int, Income($): int, Age after 2 years: int]

In [30]:
dfspark.show()

+--------+---+---------+-----------------+
|    Name|Age|Income($)|Age after 2 years|
+--------+---+---------+-----------------+
|     Rob| 27|    70000|               29|
| Michael| 29|    90000|               31|
|   Mohan| 29|    61000|               31|
|  Ismail| 28|    60000|               30|
|    Kory| 42|   150000|               44|
|  Gautam| 39|   155000|               41|
|   David| 41|   160000|               43|
|  Andrea| 38|   162000|               40|
|    Brad| 36|   156000|               38|
|Angelina| 35|   130000|               37|
|  Donald| 37|   137000|               39|
|     Tom| 26|    45000|               28|
|  Arnold| 27|    48000|               29|
|   Jared| 28|    51000|               30|
|   Stark| 29|    49500|               31|
|  Ranbir| 32|    53000|               34|
|  Dipika| 40|    65000|               42|
|Priyanka| 41|    63000|               43|
|    Nick| 43|    64000|               45|
|    Alia| 39|    80000|               41|
+--------+---+---------+-----------------+
only showing top 20 rows

# Dropping the columns

In [31]:
dfspark=dfspark.drop('Age after 2 years')

In [32]:
dfspark.show()

+--------+---+---------+
|    Name|Age|Income($)|
+--------+---+---------+
|     Rob| 27|    70000|
| Michael| 29|    90000|
|   Mohan| 29|    61000|
|  Ismail| 28|    60000|
|    Kory| 42|   150000|
|  Gautam| 39|   155000|
|   David| 41|   160000|
|  Andrea| 38|   162000|
|    Brad| 36|   156000|
|Angelina| 35|   130000|
|  Donald| 37|   137000|
|     Tom| 26|    45000|
|  Arnold| 27|    48000|
|   Jared| 28|    51000|
|   Stark| 29|    49500|
|  Ranbir| 32|    53000|
|  Dipika| 40|    65000|
|Priyanka| 41|    63000|
|    Nick| 43|    64000|
|    Alia| 39|    80000|
+--------+---+---------+
only showing top 20 rows

# Renaming the columns

In [33]:
dfspark=dfspark.withColumnRenamed('Age','New Age')

In [34]:
dfspark.show()

+--------+-------+---------+
|    Name|New Age|Income($)|
+--------+-------+---------+
|     Rob|     27|    70000|
| Michael|     29|    90000|
|   Mohan|     29|    61000|
|  Ismail|     28|    60000|
|    Kory|     42|   150000|
|  Gautam|     39|   155000|
|   David|     41|   160000|
|  Andrea|     38|   162000|
|    Brad|     36|   156000|
|Angelina|     35|   130000|
|  Donald|     37|   137000|
|     Tom|     26|    45000|
|  Arnold|     27|    48000|
|   Jared|     28|    51000|
|   Stark|     29|    49500|
|  Ranbir|     32|    53000|
|  Dipika|     40|    65000|
|Priyanka|     41|    63000|
|    Nick|     43|    64000|
|    Alia|     39|    80000|
+--------+-------+---------+
only showing top 20 rows