In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('practise').getOrCreate()

In [8]:
dfspark=spark.read.csv('income.csv',header=True,inferSchema=True)

In [9]:
dfspark.show()

+--------+---+------+
|    Name|Age|Salary|
+--------+---+------+
|     Rob| 27| 70000|
| Michael| 29| 90000|
|   Mohan| 29| 61000|
|  Ismail| 28| 60000|
|    Kory| 42|150000|
|  Gautam| 39|155000|
|   David| 41|160000|
|  Andrea| 38|162000|
|    Brad| 36|156000|
|Angelina| 35|130000|
|  Donald| 37|137000|
|     Tom| 26| 45000|
|  Arnold| 27| 48000|
|   Jared| 28| 51000|
|   Stark| 29| 49500|
|  Ranbir| 32| 53000|
|  Dipika| 40| 65000|
|Priyanka| 41| 63000|
|    Nick| 43| 64000|
|    Alia| 39| 80000|
+--------+---+------+
only showing top 20 rows

In [ ]:
# salary <=600000

In [10]:
dfspark.filter("Salary<=60000").show()

+------+---+------+
|  Name|Age|Salary|
+------+---+------+
|Ismail| 28| 60000|
|   Tom| 26| 45000|
|Arnold| 27| 48000|
| Jared| 28| 51000|
| Stark| 29| 49500|
|Ranbir| 32| 53000|
| Abdul| 39| 58000|
+------+---+------+

In [11]:
dfspark.filter("Salary<=60000").select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
|Ismail| 28|
|   Tom| 26|
|Arnold| 27|
| Jared| 28|
| Stark| 29|
|Ranbir| 32|
| Abdul| 39|
+------+---+

In [12]:
dfspark.filter(dfspark['Salary']<=60000).show()

+------+---+------+
|  Name|Age|Salary|
+------+---+------+
|Ismail| 28| 60000|
|   Tom| 26| 45000|
|Arnold| 27| 48000|
| Jared| 28| 51000|
| Stark| 29| 49500|
|Ranbir| 32| 53000|
| Abdul| 39| 58000|
+------+---+------+

In [15]:
dfspark.filter((dfspark['Salary']<60000)&(dfspark['Salary']>40000)).show()

+------+---+------+
|  Name|Age|Salary|
+------+---+------+
|   Tom| 26| 45000|
|Arnold| 27| 48000|
| Jared| 28| 51000|
| Stark| 29| 49500|
|Ranbir| 32| 53000|
| Abdul| 39| 58000|
+------+---+------+

In [17]:
dfspark.filter(~(dfspark['Salary']<=60000)).show() # greater than 60000 (inverse operator)

+--------+---+------+
|    Name|Age|Salary|
+--------+---+------+
|     Rob| 27| 70000|
| Michael| 29| 90000|
|   Mohan| 29| 61000|
|    Kory| 42|150000|
|  Gautam| 39|155000|
|   David| 41|160000|
|  Andrea| 38|162000|
|    Brad| 36|156000|
|Angelina| 35|130000|
|  Donald| 37|137000|
|  Dipika| 40| 65000|
|Priyanka| 41| 63000|
|    Nick| 43| 64000|
|    Alia| 39| 80000|
|     Sid| 41| 82000|
+--------+---+------+